<!doctype html>

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewp
	ort" content="width=device-width, initial-scale=1">

	<!--- bootstrap !-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


	<title> About Me </title>


	<link rel="stylesheet" text="text/css" href="./public/stylesheets/about.css">
	




</head>
<body>



<div class="header row">
	<div class="col-md-4">
		<h1> Cesar Salazar </h1>
	</div>
	<div class="col-md-8">
		<h1> Simplistic Games </h1>
	</div>

</div>




<div class="container">
	<div class="jumbotron">
	<section>
	<p> Hello my name is Cesar Salazar</p>
	<br>
	<p> I created Simple Games with a simple (pun intended) idea in mind <br>
	to create awesome games that people could enjoy in healthy competition </p>

	<p> I'm an inspiring web developer and this is one of the first websites I have ever built. I used node.js for the server side and good old plain html/css/js for the frontend. <br> If you are interested about more about the code that runs this beautiful website please help yourself to check out the git-repo at https://github.com/Csear007/Puzzle-Piece-Website

	</section>
	</div>
</div>



</body>
</html>