<!doctype html>
<html>
<head>

	<meta charset ="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title> Sudoku </title>

	<!--- bootstrap !-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- stylesheet for page -->
	<link rel="stylesheet" text="text/css" href="./public/stylesheets/sudoku.css">


	<!-- jquery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>




</head>
<body>



<div class="header"> 
<a href="/"><h1> <span>S</span>implistic <div id="letter">G</div>ames </h1></a>
<ul id="navbar"> 
 <a href="/puzzle"><li> Puzzle </li></a>
 <a href="/sudoku"><li> Sudoku </li></a>
 <a href="/tic-tac"><li> Tic-Tac-Toe </li></a>
 <a href="/about"><li> About </li></a>
</ul> 
</div>



<div class="container">
	<div class="jumbotron">
		<div class="stage">
		</div>
	</div>
</div>

<div id="leaderboard" class="container">
	<div class="jumbotron">


	</div>

</div>


<div id="footer" class="container-fluid">

</div>

<script src="/public/javascripts/sudoku.js" text="text/javascript"></script>

</body>
</html>