

<h1> How would you like your Sudoku? </h1>

<div class="center">
	<button type="button" class="btn btn-success"> Easy </button> 
	<button type="button" class="btn btn-primary"> Medium </button>
	<button type="button" class="btn btn-danger"> Hard </button>

	<p> with </p>
	<div class="dropdown">
		<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"> Settings <span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="#"> Timer </a></li>
			<li><a href="#"> No Timer </a></li>
			<li class="divider"></li>
			<li><a href="#"> Error checking </a></li>
			<li><a href="#"> No Error checking </a></li>
			<li class="divider"></li>
		</ul>
	</div>
</div>
<button id="start_button" type="button" class="btn btn-warning"> Let's get started! </button>