
<div id="tic-news" class="jumbotron">
	<h1> </h1>
</div>

<table id="score" class="table">
	<tbody>
		<tr class="top">
			<th> Player X </th>
			<th> Ties </th>
			<th> Player O </th>
		</tr>
		<tr class="bottom"> 
			<td id="x"> Wins: </td>
			<td id="center"> Ties: </td>
			<td id="o"> Wins: </td>
		</tr>
	</tbody>
</table>

<table id="tic-board">
	<tbody>
	<tr class="top"><td></td><td id="center"></td><td></td></tr>
	<tr class="middle"><td></td><td id="center"></td><td></td></tr>
	<tr class="bottom"><td></td><td id="center"></td><td></td></tr>
	</tbody>
</table>
<div class="restart">
<button type="button" id="restart_button" class="btn btn-warning btn-lg"> Restart </button>
</div>
