<!doctype html>
<html>
<head>

	<meta charset ="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- height=device-height !-->

	<title> Tic-Tac-Toe </title>

	<!--- bootstrap !-->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<!-- stylesheet for page -->
	<link rel="stylesheet" text="text/css" href="./public/stylesheets/tic.css">

	<!-- jquery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>


</head>
<body>



<div class="header"> 
<a href="/"><h1> <span>S</span>implistic <div id="letter">G</div>ames </h1></a>
<ul id="navbar"> 
 <a href="/puzzle"><li> Puzzle </li></a>
 <a href="/sudoku"><li> Sudoku </li></a>
 <a href="/tic-tac"><li> Tic-Tac-Toe </li></a>
 <a href="/about"><li> About </li></a>
</ul> 
</div>



<div class="container">
	<div id="tic-stage" class="jumbotron">
			<h2> How would you like your Tic-Tac-Toe? </h2>

			<div class="center">
				<button type="button" class="btn btn-primary"> One-Player </button>
				<p> Or </p>
				<button type="button" class="btn btn-danger"> Two-Player </button>
			</div>

			<div class="colors">
			<p> Colors: </p>
				<div class="btn btn-group">
					<button type="button" class="btn btn-success"> Christmas </button>
					<button type="button" class="btn btn-success"> Halloween </button>
					<button type="button" class="btn btn-success"> Simple-Games </button>
					<button type="button" class="btn btn-success"> Plain </button>
				</div>
			</div>

			<div class="bottom">
				<button id="start_button" type="button" class="btn btn-warning"> Let's get started! </button>
			</div>

	</div>
</div>


<div class="error_box">
	<h1> Must choose player option and colors </h1>
</div>


<div id="leaderboard" class="container">
	<div class="jumbotron">



	</div>
</div>


<div id="footer">


</div>



<script src="/public/javascripts/tic.js" text="text/javascript"></script>

</body>
</html>