
body {
	/*background-color: #89c4ff;*/
}

h1 {
	font-style: italic;
	color: black;
}


.row .col-md-4 h1 {
	text-align: center;
}

.row .col-md-8 h1 {
	text-align: left;
}

}
.face {
	width: auto;
	text-align: center;
}

.face img {
	border-radius: 25px;
	border-width: 2px;
	border-color: solid black;
}

section {
	height: 600px;
}

section p {
	font: 24px;
	text-align: left;
}