h1 {
	font-style: italic;
	text-align: center;
}


}
.face {
	width: auto;
	text-align: center;
}

.face img {
	border-radius: 25px;
	border-width: 2px;
	border-color: solid black;
}

section {
	height: 600px;
	text-align: center;
}

section p {
	font: 24px;
}