
@import url(./footer.css);
@import url(./tic-board.css);
@import url(./leaderboard.css);

html{
	min-height: 100%;
}
body {
	background-color: #89C4FF;
	min-height: 100%;
	//#E8F1F5
	//#89C4FF
	//#49a9df
}

.header {
 border-bottom: 2px solid #FD7014;
 padding-top: 10px;
 padding-bottom: 15px;
 background-color: white;
 text-align: center; 
}

.header a:hover {
	text-decoration: none;
	font-color: black;

}
.header h1 {
 display: inline;
 color: black;
}

.header span{
	color: #49a9df;
	display: inline;
}

.header #letter {
	color: #FF5722;
	display: inline;
}

#navbar {
	text-align: center;
	display: inline;
	list-style-type: none;
}
#navbar li {
	display: inline;
	font-size: 24px;
	padding-right: 10px;
	padding-left: 10px;
	border-right: 2px ridge black;
}

#navbar li:hover{
	color: #FD7014; 
}

#navbar a {
	text-decoration: none;
}


.container .jumbotron .center {
	text-align: center;
}

.container .jumbotron h2{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
	font-size: 45px;

}

.container .jumbotron .center p {
	display: inline;
	margin-left: 5px;
	margin-right: 5px;
}

.container .jumbotron .center button {

	padding-left: 10px;
	padding-right: 10px;
}

.container .jumbotron .bottom {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

.container .jumbotron .bottom {
	text-align: center;
}

.container .jumbotron .bottom #start_button {
	padding-right: 15px;
	padding-left: 15px;
}

.container .jumbotron .colors {
	text-align: center;
	margin-top: 15px;
	padding-right: 50px;
}
.container .jumbotron .colors p {
	display: inline;
}
.container .jumbotron .colors .btn-group {
	display: inline-block;

}
.container .jumbotron .colors .btn-group:active{
	outline: none !important;

}
.container .jumbotron .colors .btn-group button {
	padding-left: 10px;
	padding-right: 10px;
	outline: none !important;
}

.container .jumbotron .colors .btn-group button:active{
	outline: none !important;
}


.error_box {
	width: auto;
	height: 300;
	border-top: 2px solid red;
	border-bottom: 2px solid red;
	background-color: #eee;
	text-align: center;
	display: none;
}

.error_box h1 {

}


